#form {
  position: relative;
  padding-top: 150px;
}

#options-container {
  height: 370px;
  width: 490px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.6rem;
}

#feedback-container {
  height: 350px;
  width: 472px;
  border-radius: 0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
}

#feedback-container p {
  font-size: 1.5rem;
  text-align: center;
}

.option {
  border: 1px solid;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.5s;
  padding: 0.5rem;
  animation: blink 3s;
  border-radius: 0.5rem;
}

.option:hover {
  scale: 1.1;
}

.option:first-child {
  background-color: rgba(0, 0, 255, 0.389);
}
.option:last-child {
  background-color: rgba(255, 0, 255, 0.389);
}
.option:nth-child(2) {
  background-color: rgba(212, 255, 0, 0.389);
}
.option:nth-child(3) {
  background-color: rgba(0, 255, 247, 0.389);
}

@media (max-width: 450px) {
  #feedback-container {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .quiz-container {
    padding: 1rem;
    max-width: 100%;
    align-items: center;
    min-height: 70vh;
  }

  .quiz-container h2 {
    text-align: center;
  }

  #options-container {
    max-width: 100%;
  }

  .option {
    font-size: 1rem;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.option:nth-child(1) {
  animation-delay: 0s;
}

.option:nth-child(2) {
  animation-delay: 1s;
}

.option:nth-child(3) {
  animation-delay: 2s;
}

.option:nth-child(4) {
  animation-delay: 3s;
}
