@import url("./Header.css");
@import url("./Home.css");
@import url("./About.css");
@import url("./Form.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

button {
  cursor: pointer;
}

section {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-shape-divider-top-1729615361 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1729615361 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 192px;
}

.custom-shape-divider-top-1729615361 .shape-fill {
  fill: #8cbdc2;
}

.quiz-container {
  width: 600px;
  height: 500px;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  section {
    width: 100vw;
    padding: 1rem;
  }
}
